*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Mukta', sans-serif;}

::-webkit-scrollbar{
    width: 5px;

}

::-webkit-scrollbar-track{
    background-color: #21242e;
}

::-webkit-scrollbar-thumb{
    background-color: #C31D63;
    border-radius: 10px;

}

html,body{
    height: 100%;
    background-color: #252934;
    scroll-behavior: smooth;

}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #21242e;

}

.header-page-01{
    width: 100%;
    min-height: 100vh;
    background-color: #21242e;

}

.clear{
    clear: both;

}

header.menu-box{
    width: 100%;
    height: 80px;
    background: rgba(196, 196, 196, 0.11);;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
}

.menu-box h2{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    float: left;
    padding: 0 15px 0 15px;
    opacity:(1);

}

.menu-box h2 a{
    text-decoration: none;
    color: white;
    transition: 0.2s;


}

.menu-box h2 a:hover{
    text-decoration: line-through;
    
}

/*.circle-logo{
    width: 64px;
    height: 64px;
    transition: 0.5s;
    border: 2px solid white;
    border-radius: 250px;
    float: left;
    margin: 0 25px 0 25px;
    cursor: pointer;
    background-image: url(../img/marc2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;

}*/

.text-header{
    width: 100%;

}

.text-header p{
    color: white;
    text-align: center;
    align-items: center;
    font-size: 60px;
    padding-top: 20vh;
    animation: animation01 2s ease-in-out 1;

}

.text-header p a{
    text-decoration: none;
    color: #C31D63;

}

@keyframes animation01{
    0%{opacity: 0;}

    100%{opacity: 100;}

}

.header-text-link-box{
    width: 200px;
    height: 55px;
    border: 2px solid white;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 1s;

}

.header-text-link-box:hover{
    border: 2px solid #C31D63;

}

.header-text-link-box h2{
    color: white;
    line-height: 55px;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    cursor: pointer;

}

/*----About----*/

.header-about{
    width: 100%;
    background-color: #F8F6F4;

}

.title-about{
    width: 100%;
    height: 250px;
    display: flex;
    color: #21242e;
    justify-content: center;
    align-items: center;

}

.title-about h2{
    font-size: 70px;

}

.div-skill{
    width: 90%;
   padding-bottom: 100px;

}

.div-skill-body{
    width: 90%;
    height: 36px;
    margin: 0 auto;
    border: 1px solid #252934;
    margin-top: 20px;

}

.div-skill-txt{
    width: 100px;
    height: 100%;
    background-color: #252934;
    float: left;

}

.div-skill-txt p{
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding-top: 1px;

}

.div-skill-progress{
    width: calc(100% - 150px);
    height: 100%;
    float: left;

}

.progress-html{
    width: 60%;
    height: 100%;
    background-color: #DE8800;

}
.progress-css{
    width: 60%;
    height: 100%;
    background-color: #DE8800;

}.progress-js{
    width: 20%;
    height: 100%;
    background-color: #DE8800;

}.progress-php{
    width: 10%;
    height: 100%;
    background-color: #DE8800;

}.progress-mysql{
    width: 20%;
    height: 100%;
    background-color: #DE8800;

}.progress-arduino{
    width: 40%;
    height: 100%;
    background-color: #DE8800;

}.progress-ingles{
    width: 90%;
    height: 100%;
    background-color: #DE8800;

}

.div-skill-number{
    width: 50px;
    height: 100%;
    background-color: #252934;
    float: right;

}

.div-skill-number p{
    color: white;
    text-align: center;
    font-size: 20px;

}

/*-------*/

.header-projects{    
    width: 100%;

}

.gale-projetos{
    width: 100%;
    background-color: white;
}

.gale-projetos h2{
    font-size: 60px;
    padding-top: 53px;
    text-align: center;

}

.gale-projetos p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 39px;
    font-size: 20px;
    color: #6A6A6A;

}

.galeria{
    width: 100%;
    display: flex;
    justify-content: center;

}

.galeria-part{
    margin: 2px;
    width: 420px;
    height: 420px;
    background-color: #E8E8E8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    cursor: pointer;
}

.galeria-part:hover{
    width: 430px;
    height: 430px;

}

.meus-projetos-breve{
    background-color: #252934;
    width: 100%;
    display: flex;
    margin: 0% auto;

}

.meus-projetos-breve p{
    text-align: center;
}

.em-breve{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.edCor{
    color: #21242e;
    background-color: white;
    font-size: 60px;
    padding-top: 53px;
    text-align: center;
} 
.edCor2{
    color: #21242e;
    background-color: white;
    font-size: 40px;
    padding-top: 53px;
    text-align: center;
} 

.edCor3{
    color: white;
    background-color: #21242e;
    font-size: 40px;
    padding-top: 53px;
    text-align: center;
} 

.container1{
    max-width: 1400px;
    margin: 0% auto;
    background-color: #21242e;
    border: 0% auto;
    padding: 0%;

}

.header-sobre-mim{
    width: 100%;
    height: 695px;
    align-items: center;
    justify-content: flex;
    background-color: white;

}

.footer-container{
    width: 100%;
    height: 120px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.contato{
    text-align: center;
    color: white;
    font-size: 18px;
}

.icones img{  
    display: flex;
    gap: 25px;
    align-items: center;
    width: 100%;
    justify-content: center;
    width: 52px;
    height: 52px;
}

.iconInsta{
    background-size: contain;
    background-position: center;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}